body {
	margin: 0;
	background: url(http://localhost:8090/ECommerce/imagens/bg.jpg) center
		top no-repeat;
	background-color: #2eaeb7;
}

#index {
	
}

#principal {
	border: 1px solid black;
	width: 950px;
	height: auto;
	margin: 0 auto;
	padding: 2px;
}

#cabecalho {
	border: 1px solid black;
	width: auto;
	height: 25px;
	margin-bottom: 2px;
}

#menu {
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-bottom: 2px;
}

#coluna_esquerda {
	border: 1px solid black;
	width: 160px;
	height: 250;
	float: left;
	margin-bottom: 2px;
	display: block;
	background-color: #ffffff;
}

#conteudo {
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-left: 164px;
	margin-right: 0px;
	margin-bottom: 2px;
}

#rodape {
	border: 1px solid black;
	width: auto;
	height: 80px;
	clear: both;
}