body {
	margin: 0;
	background: url("bg.jpg") center top no-repeat;
	/*background: url(http://localhost:8090/ECommerce/imagens/bg.jpg) center
		top no-repeat;*/
	background-color: #2eaeb7;
}

.icone_categoria {
	text-align: left;
	margin-left: 2px;
	padding: 0;
	width: 187px;
	height: 42px;
	background-image: url(../imagens/img_menu_azul.png);
	background-repeat: no-repeat;

}
.h2titcategoria{
    color: #ffffff;
    font-family: "Swis721";
    letter-spacing: 0px;
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #4B4747;
    font-weight: normal;
    padding: 9px 0 0 46px;
    margin: 5px 0 0 0;
}

#principal {
	border: 1px solid black;
	width: 1100px;
	height: auto;
	margin: 0 auto;
	padding: 2px;
}

#cabecalho {
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-bottom: 2px;
}

#menu {
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-bottom: 2px;
}

#coluna_esquerda {
	border: 1px solid black;
	width: 190px;
	height: auto;
	float: left;
	margin-bottom: 2px;
	display: block;
	background-color: #2eaeb7;
}

#conteudo {
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-left: 194px;
	margin-right: 0px;
	margin-bottom: 2px;
}

#rodape {
	border: 1px solid black;
	width: auto;
	height: 80px;
	clear: both;
}