#logar {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 300px;
  height: 300px;
}

#cadastro {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}  

#formularioCadastro {
	margin: 100px;
}
